<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>签名测试</title>
    <!-- 从 CDN 加载 ethers.js -->
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
</head>
<body>
<h2>签名和摘要测试</h2>

<label for="messageInput">消息:</label>
<input type="text" id="messageInput" placeholder="输入消息">

<br><br>

<label for="publicKeyInput">公钥:</label>
<input type="text" id="publicKeyInput" placeholder="输入公钥">

<br><br>

<button id="submitBtn">提交</button>

<!-- 引入外部的 ProcessData.js 文件 -->
<script src="../static/js/ProcessData.js"></script>
</body>
</html>
